label {
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}
input {
    border: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px;
    width: 50%;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    outline: none;
    background: 
        linear-gradient(90deg, rgb(241, 64, 52), rgb(241, 64, 52)) center bottom/0 2px no-repeat,
        linear-gradient(90deg, rgb(149,201,151), rgb(149,201,151)) left bottom/100% 2px no-repeat,
        linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% 2px no-repeat;
    transition: background-size 0.3s ease;
}

span {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: black;
    transition: 
    top 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
}



input:valid,
input:focus {
    background-size: 100% 2px, 100% 2px, 100%;
}

input:valid + span, 
input:focus + span {
    top: 10px;
    font-size: 10px;
    color: #222;
}












