@media (min-width: 1281px) {
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    body {
        background-color: aliceblue;
        font-family: 'Lato', sans-serif;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 22fr;
        grid-gap: 25px;
        grid-template-areas:
        "nav_bar nav_bar nav_bar nav_bar"
        "ilustracija ilustracija crud crud";
    }

    .nav_bar {
        grid-area: nav_bar;
        background-color: rgb(149,201,151);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .nav_bar p {
        color: aliceblue;
        font-size: 44px;
        transform: translate(0, 15px);
        text-align: center;
        grid-column: 2; 
    }

    .nav_bar #logo {
        transform: translate(0, 15px);
        grid-column: 1;  
        padding-left: 10px;
    }

    .ilustracija {
        grid-area: ilustracija;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.15fr 0.2fr 0.2fr;
    }


    #svg_knjiznica {
        grid-column: 2;
        grid-row: 2;
    }


    .crud {
        grid-area: crud;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
    }

    .navigacija {
        grid-column: 2;
    }

    #upis_butt{
        font-size: 16px;
        font: bold;
        text-decoration: none;
        background-color: rgb(149,201,151);
        color: aliceblue;
        padding: 12px 25px 12px 25px;
        outline: none;
        border: rgb(149,201,151);
        opacity: 1;
        margin-bottom: 15px;
    }
    
    #upis_butt:hover {
        opacity: 1;
        cursor: pointer;
        transition: 0.5s;
    }

    #info_butt{
        font-size: 16px;
        font: bold;
        text-decoration: none;
        background-color: rgb(149,201,151);
        color: aliceblue;
        padding: 12px 25px 12px 25px;
        outline: none;
        border: rgb(149,201,151);
        opacity: 0.7;
        margin-bottom: 15px;
        margin-right: 30px;    
    }
    
    #info_butt:hover {
        opacity: 1;
        cursor: pointer;
        transition: 0.5s;
    }

    .upis, .info{
        grid-column: 2;
        border-style: solid;
        border-color: rgb(7, 7, 7);
        padding: 10px;
        display: grid;
    }
    .info {
        display: none;
    }
    .upis p{
        font-size: 24px;
        margin-bottom: 30px;
        padding-left: 10px;
    }

    .autor {
        padding-left: 30px;
    }

    .gradja {
        padding-left: 30px;
    }

    #unos_pod{
        font-size: 16px;
        font: bold;
        text-decoration: none;
        background-color: rgb(241, 64, 52);
        color: aliceblue;
        padding: 10px 40px 10px 40px;
        outline: none;
        margin-top: 20px;
        border: rgb(241, 64, 52);
        opacity: 0.7;
        float: right;
        margin-right: 56px;
        margin-bottom: 10px;
    }
    
    #unos_pod:hover {
        opacity: 1;
        cursor: pointer;
        transition: 0.5s;
    }

    /* input field animacija */

    label {
        position: relative;
        font-size: 16px;
        padding-top: 20px;
        margin-bottom: 5px;
    }
    input {
        border: none;
        -webkit-appearance: none;
        -ms-progress-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 15px;
        width: 90%;
        border-radius: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        outline: none;
        background: 
            linear-gradient(90deg, rgb(241, 64, 52), rgb(241, 64, 52)) center bottom/0 2px no-repeat,
            linear-gradient(90deg, rgb(149,201,151), rgb(149,201,151)) center bottom/100% 2px no-repeat,
            linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% 2px no-repeat;
        transition: background-size 5s ease;
    }
    
    span {
        position: absolute;
        left: 1px;
        top: calc(50% + 10px);
        transform: translateY(-50%);
        color: rgb(7, 7, 7);
        transition: 
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
    }
    
    input:valid,
    input:focus {
        background-size: 100% 2px, 100% 2px, 100%;
    }
    
    input:valid + span, 
    input:focus + span {
        top: 10px;
        font-size: 14px;
        color: rgb(7, 7, 7);
    }

    /* input field animacija kraj */

}

.ime {
    padding-bottom: 20px;
}

.prezime {
    padding-bottom: 20px;
}

.naziv {
    padding-bottom: 20px;
}

.nakladnik {
    padding-bottom: 20px;
}
.god_izd {
    padding-bottom: 20px;
}
.mj_izd {
    padding-bottom: 20px;
}
.udk {
    padding-bottom: 20px;
}